/* body {
  box-sizing: border-box;
  margin:0;
  height: 100vh;
  font-family: 'Pacifico', Georgia, Times, 'Times New Roman', serif;
  display: grid;
  place-items: center;
  background-image: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg);
  background-size: 300px;
  animation: movingBackground 10s linear infinite;
  color: #e5e5e5;
}

@keyframes movingBackground {
  from { background-position: 0 0; }
  to { background-position: -300px -300px; }
}

body:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  z-index: 1;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  letter-spacing: 1px;
}

.center-piece {
  width: clamp(50vw, 50vh, 90vw);
  height: 50vh;
  display: grid;
  place-items: center;
  background: #222;
  border-radius: 8px;
  box-shadow: 5px 5px 50px 5px rgba(0,0,0,0.3);
  z-index: 2;
}

.topbar {
  width: 100%;
  align-self: flex-start;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 12px 0 0 12px;
  border-radius: 50%;
}

.red {
  background-color: #ff5e56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.2);
  border: 3px solid whitesmoke;
}

.twitter-logo {
  width: 32px;
  vertical-align: middle;
} */