:root {
  --blackish: #222;
  --whiteish: #e5e5e5;
  --red:  #ff5e56;
  --yellow: #ffbd2e;
  --green: #27c93f;
  --backgroundSize: 300px;
}
body {
  box-sizing: border-box;
  margin:0;
  height: 100vh;
  font-family: 'Pacifico', Georgia, Times, 'Times New Roman', serif;
  background: var(--blackish);
  color: var(--whiteish);
}
